@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&display=swap');
body{
    background: rgba(197, 190, 236, 0.884);
    font-family: 'Courier Prime', monospace;}
.stopwatch{
    width: 90%;
    max-width: 600px;
    background-image: linear-gradient(rgba(34, 26, 26, 0.877),rgba(0,0,0,0.8)),url("./image/images.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 40px 0;
    color: rgba(34, 44, 97, 0.979);
    margin: 200px auto 0;
    box-shadow: -12px -12px 23px -9px rgba(0,0,0,0.56);
    -webkit-box-shadow: -12px -12px 23px -9px rgba(0,0,0,0.56);
    -moz-box-shadow: -12px -12px 23px -9px rgba(0,0,0,0.56);
    border-radius: 5px;
}
.butoons img{
    width: 50px;
    margin: 0 20px;
    cursor: pointer;}
.butoons img:nth-child(2){
   width: 80px;
}
.stopwatch h1{
    margin-top: 60px;
    font-size: 64px;
    font-weight: 300;}
.butoons{
    display: flex;
    align-items: center;
    justify-content: center;}